<div class="jumbotron jumbotron-fluid bg-dark text-primary">
  <div class="container">
    <h1 class="display-2 text-center">Welcome to the Dojo Activity Center</h1>
    <p class="lead text-center">Login and Register to Begin Planning Activities</p>
  </div>
</div>
<div class="container-fluid">
    <div class="row"> 
        <div class="col"><partial name="LoginPartial" /></div>
        <div class="col"><partial name="RegPartial" /></div>
    </div>
</div>