    @model User

    <form asp-action="ValidateRegistration" asp-controller="DojoActivities" method="post">
        <div class="col">
            <span asp-validation-for="First_Name"></span><br>
            <label asp-for="First_Name"></label><br>
            <input class="form-control-lg" asp-for="First_Name"><br>
        
            <span asp-validation-for="Last_Name"></span><br>
            <label asp-for="Last_Name"></label><br>
            <input class="form-control-lg" asp-for="Last_Name"><br>
        
            <span asp-validation-for="Email"></span><br>
            <label asp-for="Email"></label><br>
            <input class="form-control-lg" asp-for="Email"><br>
        </div>
        <div class="col">
            <span asp-validation-for="Password"></span><br>
            <label asp-for="Password"></label><br>
            <input class="form-control-lg" asp-for="Password"><br>

            <span asp-validation-for="Confirm_Password"></span><br>
            <label asp-for="Confirm_Password"></label><br>
            <input class="form-control-lg" asp-for="Confirm_Password"><br>

            <br><br>
            <input value="Register" type="submit">    
        </div>
    </form>